html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #273043;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.nav {
    display: flex;
    align-items: center;
}

.nav a {
    flex: 1;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #273043;
    color: white; 
}

.nav a:hover {
    background-color: #36827f;
}

.nav .logo {
    display: flex;
    flex: 1;
    padding-left: 1rem;
    text-align: start;
    align-items: center;
    font-family: 'Euphoria Script', cursive;
    font-size: 2.2rem;
    color: #273043;
}

.nav .logo img {
    margin-left: .7rem;
    margin-right: .7rem;
}

.nav img {
    width: 35px;
    height: 35px;
}

header {
    text-align: center;
    padding: 170px 50px;
    background-image: url(../img/bg8.jpg);
    background-position: contain;

}

header .name {
    color: #36827f;
    border-bottom: 6px solid #36827f;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

#intro p {
    padding: 50px;
    font-size: 1.2rem;
}

#intro .emphasis {
    color: #36827f;
    font-weight: 600;
}

.circles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 50px;
}

.circles .circle {
    position: relative;
    top: 65px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: -125px;
    background-color: white;
}

#features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px 50px;
    background-color: #273043;
    color: white;
}

#features .feature {
    margin: 0 25px;
    text-align: center;
}

#features .feature .title {
    color: #9bc1bf;
    font-size: 1.3rem;
}

#features .feature .detail {
    font-size: .9rem;
    line-height: 1.5;
}

.section-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    margin-top: 6rem;
    margin-bottom: 5rem;
}

#skills .section-title {
    color: #36827f;
}

.skill {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0,0,0,.2);
    margin-bottom: 10px;
}

.skill .name {
    display: flex;
    flex-basis: 180px;
    align-items: center;
    justify-content: center; 
    font-size: 1.2rem;   
    background-color: #273043;
    color: white;
}

.skill .color {
    padding: 1.4rem 0;
    background-color: #36827f;
}

.skill .percent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1.3rem;
    color: #273043bb;
    background-color: #ddd;
}

.skill1 .color, 
.skill2 .color {
    flex: 4;
}

.skill1 .percent,
.skill2 .percent {
    flex: 1;
}

.skill3 .color,
.skill5 .color {
    flex: 7;
}

.skill3 .percent,
.skill5 .percent {
    flex: 3;
}

.skill4 .color,
.skill6 .color,
.skill7 .color {
    flex: 6;
}

.skill4 .percent,
.skill6 .percent,
.skill7 .percent {
    flex: 4;
}

.skill8 .color {
    flex: 1;
}

.skill8 .percent {
    flex: 1;
}

#portfolio {
    background-color: #36827f;
    margin-top: 180px;
    padding-bottom: 100px;
}

#portfolio .section-title {
    color: white;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 300px;
    margin: 15px 10px;
    border-radius: 5px;
}

.cards .card img {
    width: 170px;
}

.project-description {
    background: #efefef;
    padding: 15px;
    margin: 5px;
    border-radius: 3px;
}

.project-description p {
    margin-top: 0;
    margin-bottom: .5rem;
}

.techstack {
    font-weight: 600;
}

#about .about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.about-me img {
    width: 50%;
}

.about-me .emphasis {
    font-weight: 600;
    font-size: 1.2rem;
}

.about-me button {
    padding: 1rem 2rem;
    border: none;
    background-color: #36827f;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
}

.about-me button:hover {
    transform: scale(1.05);
    transition: transform .3s;
}

#social {
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: #273043;
    color: white;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social a:hover {
    transform: scale(1.05);
    transition: transform .3s;
}

.social svg {
    width: 75px;
    margin: 0 40px;
    fill: white;
}

.section-title-secondary {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #36827f;
    text-align: center;
    padding-bottom: 100px;
}

#contact form {
    text-align: start;
}

input[type="text"] {
    width: 400px;
    border: none;
    padding: 1rem 0;
    background-color: #36827f;
    color: white;
    border-bottom: 1px solid rgba(255,255,255,.3);
    margin-right: 30px;
}

input::placeholder, 
label {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.message {
    padding-top: 30px;
}

textarea {
    text-align: center;
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

button.send-message {
        padding: .8rem;
        margin: 2rem 0;
        width: 100%;
        border: none;
        background-color: #273043;
        border-radius: 5px;
        font-size: 1rem;
        color: white;
    } 

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

footer .social {
    display: flex;
}

footer .social svg {
    width: 50px;
}

footer .social svg {
    fill: rgba(0,0,0,.2);
}

.copyright {
    margin: 60px 0;
}

.strikethrough {
    position: relative;
    z-index: 1;
    width: 80%
}

.strikethrough:before {
    border-top: 4px solid #36827f;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 52%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

.strikethrough span {
    padding: 0 20px;
    background-color: white;
}

